<div class="container col-md-offset-4 col-md-4">
  <img src="app/Images/guestbook.gif">
  <form [formGroup]="loginForm">
    <div class="formGroup">
      <label for="username">Username</label>
      <input type="email" [(ngModel)]='login_model.login_username' class="form-control" name="username" formControlName="username">
      <div *ngIf="!(loginForm.controls['username'].valid || loginForm.controls['username'].pristine)" class="alert alert-danger">
        Username is required
      </div>
    </div>
    <br/>
    <br/>
    <div class="formGroup">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]='login_model.login_password' class="form-control" name="password" formControlName="password">
      <div *ngIf="!(loginForm.controls['password'].valid || loginForm.controls['password'].pristine)" class="alert alert-danger">
        <div *ngIf="loginForm.controls.password.hasError('minlength')"> Enter at least 6 characters </div>
        Password is required
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-xs-6 text-center">
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-default" [routerLink]="['dashboard']">Submit</button>
      </div>
      <div class="col-xs-6 text-center">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Register</button>
      </div>
    </div>
  </form>
  <!--<h4>{{login_model.login_username}},{{login_model.login_password}}</h4>-->
  {{logindata}}
</div>
<register-form></register-form>
